.App {
  text-align: center;
}

.App-header {
  background-color: steelblue;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  height: 75px;
  padding: 20px;
}

.ticket-info {
    border: thin solid #DEDEDE;
    padding: 7px;
    cursor: pointer;
    margin: 7px;
}

.tag-badge {
  padding: 7px;
  margin: 7px 7px 7px 0;
}
